* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your CSS code here */
.bg {
  padding: 100px;
  height: 100vh;
  border: 5px solid #551e53;
  background-color: lightgreen;
}
.container {
  border: 5px solid #551e;
  border-radius: 10px;
  padding: 100px;
  margin: 100px;
  height: 100%;
  background-color: lightgreen;
}
